.info {
    color: #000;
    text-align: center;
    font: 400 32px Inter, sans-serif;
    margin-right: auto;
    margin-left: 4vh;
}

.div {

    margin-top: 8vh;

    width: 811px;
    max-width: 100%;
    ;

}


.div-2 {
    gap: 15vh;
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: -6vh;
}

.div-3 {
    border-radius: 20px;
    border: 1px solid var(--stork, #9f9f9f);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 46px 36px;
}

.div-4 {
    border-radius: 20px;
    border: 1px solid var(--stork, #9f9f9f);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: var(--Important-Button, #0a89ff);
    z-index: 10;
    display: flex;
    margin-top: 50px;
    width: 242px;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    padding: 44px 51px;
}

.img {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 100%;
    stroke-width: 4px;
    stroke: #fff;
}

.div-5 {
    color: #000;
    text-align: center;
    margin-top: 25px;
    width: 271px;
    font: 700 24px Inter, sans-serif;
}

.div-6 {
    color: var(--stork, #9f9f9f);
    text-align: center;
    align-self: stretch;
    margin-top: 17px;
    font: 400 16px Inter, sans-serif;
}

.div-7 {
    border-radius: 10px;
    border: 2px solid var(--stork, #9f9f9f);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: var(--Important-Button, #0a89ff);
    margin-top: 23px;
    justify-content: center;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    padding: 19px 22px;
    font: 700 16px Inter, sans-serif;
}

.column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 5vh;
}

.div-8 {
    border-radius: 20px;
    border: 1px solid var(--stork, #9f9f9f);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    padding: 0 60px 36px;
}

.div-9 {
    border-radius: 20px;
    border: 1px solid var(--stork, #9f9f9f);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #54ad58;
    z-index: 10;
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    padding: 42px 51px;
}

.img-2 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 140px;
}

.div-10 {
    color: #000;
    text-align: center;
    margin-top: 26px;
    font: 700 24px Inter, sans-serif;
}

.div-11 {
    color: var(--stork, #9f9f9f);
    text-align: center;
    margin-top: 30px;
    font: 400 16px Inter, sans-serif;

}

.div-12 {
    border-radius: 10px;
    border: 2px solid var(--stork, #9f9f9f);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #54ad58;
    align-self: center;
    margin-top: 23px;
    justify-content: center;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    padding: 19px 22px;
    font: 700 16px Inter, sans-serif;
}