.input-container {
    margin-top: 20px;
    margin-right: auto;
    display: flex;
}

.input-container input[type="file"] {
    display: none;
}

.input-container label {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: inline-block;
    height: 50px;
}

.input-container label:hover {
    background-color: #0056b3;
}

.uploaded-files {
    display: flex;
    flex-wrap: wrap;
}

.uploaded-files img {
    width: 100px;
    height: 100px;
    margin: 5px;
}

.selected-files {
    margin-left: 9vh;
    /* border: 1px solid red; */
}

.selected-files h3 {
    color: #333;
    font-size: 18px;
}

.selected-files ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: -15px;
}

.selected-files li {
    margin-bottom: 5px;
    font-size: 16px;
}