.User,
.AddFactory,
.Permission,
.Admin {
  display: flex;
  gap: 3vh;
  margin: 35px 10px 0 0;
  cursor: pointer;
  width: calc(32vh);

  &:hover,
  &.selected {
    border-radius: 10px;
    border: 1px solid var(--stork, #9f9f9f);
    background-color: var(--Important-Button, #0a89ff);
    display: flex;

    margin-left: -1vh;
    padding-left: 1vh;
  }
}

.RemoveFactory {
  display: flex;
  gap: 3vh;
  margin: 35px 10px 0 0;
  cursor: pointer;
  width: calc(36vh);

  &:hover,
  &.selected {
    border-radius: 10px;
    border: 1px solid var(--stork, #9f9f9f);
    background-color: var(--Important-Button, #0a89ff);
    display: flex;

    margin-left: -1vh;
    padding-left: 1vh;
  }
}

.manage-user,
.verify-user,
.add-permission,
.permission-summary,
.create-admin,
.manage-admin {
  display: flex;
  border-radius: 10px;
  margin: 2vh 0 0 6vh;
  justify-content: start;
  width: fit-content;
  font: 24px Inter, sans-serif;
  padding: 1vh;
  transition: transform 0.3s ease;
  cursor: pointer;

  &:hover,
  &.selected-child {
    border: 1px solid var(--stork, #9f9f9f);
    background-color: var(--Important-Button, #0a89ff);
    transform: scale(1.05);
  }
}

.img-users-edit,
.img-admin-edit {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 42px;
}



.img-addfactory-edit {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 42px;
}

.BoldArrow {

  margin-left: auto;
}

.img-bold-left-edit {
  object-fit: auto;
  object-position: center;
  width: 13px;
  margin: auto 0;
  margin-left: auto;
}







.img-permission-edit {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 45px;
}

.img-removefactory-edit {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 45px;
}

.img-logout {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 40px;
}

.Logout {
  align-self: end;
  display: flex;
  gap: 14px;
  white-space: nowrap;
  margin-top: auto;

  &:hover {
    border: 1px solid var(--stork, #9f9f9f);
    background-color: var(--Important-Button, #0a89ff);
    transform: scale(1.05);
    border-radius: 10px;
    cursor: pointer;
  }
}