.Maximum-20-character {
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    font-family: Inter, sans-serif;
    margin: 15px 0 0 24vh;
}


.LogoutButton {
    border-radius: 10px;
    border: 2px solid var(--Important-Button, #0a89ff);
    background-color: var(--frame-color, #f6f6f6);
    align-self: end;
    display: flex;
    font-size: 32px;
    color: var(--Important-Button, #0a89ff);
    font-weight: 700;
    white-space: nowrap;
    padding: 16px 6px 16px 23px;
}


.LogoutButton img {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 40px;
}

.form-group {
    /* border: 1px solid red; */
    width: 60vh;
    height: 100px;
    flex-grow: 1;
    font: 700 24px Inter, sans-serif;
    align-content: start;
}

.labelNewPassword {

    margin-bottom: 0.5rem;
    margin-right: 5vh;
}

.labelCurrentPassword {
    margin-bottom: 0.5rem;
    margin-right: 5vh;
    margin-left: -4vh;
}

.Container-form-group {
    /* border: 1px solid red; */

}

.Container-Username {
    display: flex;
    font-size: 24px;
    height: 80px;
    width: 60vh;
    background: transparent;
    padding-top: 5px;
    /* border: 1px solid red; */
    font: 700 24px Inter, sans-serif;
    justify-content: center;
}

.username {
    margin-left: 5vh;
    /* Adjust the margin as needed */
}
.labelUername{
    margin-left: -3vh;
}
.Change-Password{
    margin-bottom: 4vh;
    align-self: flex-start;
}

.LogoutButton{
    margin-top:17vh;
}
